<tr id="bookmark-<%= bookmark.id %>">
	<td>
		<h3 class="badge badge-info">
			<!-- メールアドレスをユーザー名に変えて、リンクを貼ると直良 -->
			<%= bookmark.user.decorate.user_name %>
		</h3>	
		<div id="js-bookmark-<%= bookmark.id %>" class="card">
      <%= simple_format(bookmark.headline) %>
      <%= simple_format(bookmark.body) %>
    </div>
	</td>
  <% if current_user.own?(bookmark) %>
    <td class="action">
			<ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
					<a href="#" class='js-edit-bookmark-button' data-bookmark-id="<%= bookmark.id %>">
						<button>編集</button>
          </a>
				</li>
				<li class="list-inline-item">
					<a href="#" class='js-delete-bookmark-button' data-bookmark-id="<%= bookmark.id %>">
						<button>削除</button>
					</a>
				</li>
			</ul>
		</td>
  <% end %>
</tr>