<article class="bg-white border-2 border-gray-200 rounded-xl">
<div class="max-w-5xl px-4 py-8 mx-auto">
  <section class="p-8 rounded-lg bg-white-500">
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-3 sm:items-center">
      <p class="block shrink-0">
        <%= image_tag asset_path("bookmark.png"), class: "object-cover rounded-md w-full" %>
      </p>

      <blockquote class="sm:col-span-2">
        <p class="mt-2 sm:mt-0 font-bold">
          <%= simple_format(bookmark.headline) %>
        </a>
        <p class="mt-2 text-gray-700 text-lg">
          <%= simple_format(bookmark.body) %>
        </p>

        <cite class="inline-flex items-center mt-8 not-italic">
          <span class="hidden w-6 h-px bg-gray-400 sm:inline-block"></span>
          <p class="text-sm text-gray-500 uppercase sm:ml-3">
            <strong>
              <%= bookmark.user.decorate.user_name %>
            </strong>
          </p>
        </cite>
        
        <div class="mt-2 sm:flex sm:items-center sm:gap-2">
        <div class="flex items-center gap-1 text-gray-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
            />
          </svg>
          <% if !bookmark.chapter.blank? %>
            <p class="text-xs">チャプター/第</p>
              <%= bookmark.chapter %>
            <p class="text-xs"> 章</p>
          <% end %>
        </div>

        <p class="hidden sm:block sm:text-xs sm:text-gray-500">
          参考書籍など:
          <a href="#" class="font-medium underline hover:text-gray-700">
            <%= link_to bookmark.link, bookmark.link %>
          </a>
        </p>

        <div>
          <%= render bookmark.tags %>
        </div>

        <% if current_user.own?(bookmark) %>
          <div>
            <span class="inline-block rounded border border-indigo-600 px-3 py-3 text-sm font-medium text-indigo-600 hover:bg-indigo-600 hover:text-white focus:outline-none focus:ring active:bg-indigo-500"><%= link_to '編集' %></span>
          </div>
          <div>
            <span>
              <%= link_to '削除', bookmark, method: :delete, remote: :true, data: { turbo_method: :delete, turbo_confirm: "「#{bookmark.headline}」を削除しますか?" }, class: "inline-block rounded border border-red-600 bg-red-600 px-3 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-red-600 focus:outline-none focus:ring active:text-red-500" %>
            </span>
          </div>
        <% end %>
      </blockquote>
    </div>
  </section>
</div>
