<section class="flex justify-center items-center rounded border-2 border-gray-200 card">
  <div class="flex-1 p-4">
    <div class="flex mb-2 pr-4">
      <%#= image_tag "bookmark.png", style: "width: 100px; height: 100px; object-fit: contain;", class: "mr-4 border-2 border-gray-200" %>
      <div>
        <cite class="inline-flex items-center not-italic mb-1">
          <svg class="w-4 h-4" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
          </svg>
          <p class="text-sm text-gray-500">
            <strong><%= bookmark.user.decorate.user_name %></strong>
          </p>
        </cite>
        <div class="text-base font-semibold text-blue-500 overflow-wrap break-words max-w-[80ch]">
          <%= bookmark.headline %>
        </div>
        <div class="text-base break-words max-w-[80ch] mb-2">
          <%= simple_format(bookmark.body) %>
        </div>

        <div class="flex justify-between items-center mb-2">
          <div class="text-xs">
            <% if bookmark.chapter.blank? %>
              <%= t("bookmarks.index.chapter.blank") %>
            <% else %>
              <%= t("bookmarks.index.chapter.filled") %> <%= bookmark.chapter %>
            <% end %>
          </div>
        </div>
        <div class="flex text-xs justify-start mb-1">
          <%= l bookmark.updated_at, format: :short %>
        </div>
        <% if !bookmark.link.blank? %>
          <div class="text-xs">
            <%= t("bookmarks.index.link") %> <%= bookmark.link %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="p-3">
      <%#= render bookmark.tags %>
    </div>
    <div class="flex justify-end items-center gap-4">
      <%= link_to "https://twitter.com/share?url=#{request.url}%0a%0a&text=BOOKSTAIRに投稿しました！%0a『#{ bookmark.book.title.truncate(40) }』%0a%0a&hashtags=BOOKSTAIR",
          target: '_blank', class: "w-6 h-6" do %>
        <%= image_tag "twitter_icon.png", class: "w-full h-full" %>
      <% end %>
      <% if current_user && current_user.own?(bookmark) %>
        <%= link_to(edit_bookmark_path(bookmark)) do %>
          <svg class="w-8 h-8" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
          </svg>
        <% end %>

        <%= link_to bookmark, method: :delete, remote: :true, data: { turbo_method: :delete, turbo_confirm: t("bookmarks.destroy.check", headline: bookmark.headline) }, class: "w-8 h-8 flex items-center justify-center" do %>
          <svg class="w-8 h-8" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
          </svg>
        <% end %>
      <% end %>

      <%#= link_to "https://twitter.com/share?url=#{request.url}%0a%0a&text=理解度星○の投稿です。%0a『#{bookmark.book.title.truncate(40)}』%0a%0a&hashtags=BOOKSTAIR",
        target: '_blank', class: "w-6 h-6" do %>
        <%#= image_tag bookmark.screenshot_url, class: "w-full h-full object-cover" %>
      <%# end %>

    </div>
  </div>
</section>
