<section class="flex justify-center items-center bg-slate-50 rounded border-2 border-gray-200 p-4">
  <div class="bg-slate-50 flex-1 p-4">
    <div class="text-base font-semibold text-blue-500 overflow-wrap break-words max-w-[80ch]">
      <%= bookmark.headline %>
    </div>
    <div class="text-base break-words max-w-[80ch] mb-2">
      <%= simple_format(bookmark.body) %>
    </div>
    <cite class="inline-flex items-center mt-8 not-italic mb-2">
      <span class="hidden w-6 h-px bg-gray-400 sm:inline-block"></span>
      <p class="text-sm text-gray-500 uppercase sm:ml-3">
        <strong>
          <%= bookmark.user.decorate.user_name %>
        </strong>
      </p>
    </cite>

    <div class="flex justify-between items-center mb-2">
      <div class="text-xs">
        <% if bookmark.chapter.blank? %>
          チャプター指定なし
        <% else %>
          チャプター/第<%= bookmark.chapter %>章
        <% end %>
      </div>
      <% if !bookmark.link.blank? %>
        <div class="text-xs hover:text-gray-700">
          おすすめ書籍・参考書籍など: <%= bookmark.link %>
        </div>
      <% end %>
    </div>
    <div class="p-3">
      <%= render bookmark.tags %>
    </div>
    <div class="flex justify-center items-center gap-4">
      <% if current_user && current_user.own?(bookmark) %>
        <%= link_to bookmark, method: :delete, remote: :true, data: { turbo_method: :delete, turbo_confirm: "「#{bookmark.headline}」を削除しますか?" }, class: "w-8 h-8" do %>
          <%= image_tag "delete.png", class: "w-full h-full object-cover" %>
        <% end %>
      <% end %>

      <%= link_to "https://twitter.com/share?url=#{request.url}%0a%0a&text=BOOKSTAIRに投稿しました！%0a『#{ bookmark.book.title.truncate(40) }』%0a%0a&hashtags=BOOKSTAIR",
          target: '_blank', class: "w-6 h-6" do %>
        <%= image_tag "twitter_icon.png", class: "w-full h-full object-cover" %>
      <% end %>
    </div>
  </div>
</section>
