<section class="flex justify-center items-center bg-slate-50 rounded border-2 border-gray-200">
  <div class="bg-slate-50 flex-1 p-4">
    <div class="flex mb-2 pr-4">
    <%= image_tag "bookmark.png", style: "width: 100px; height: 100px; object-fit: contain;", class: "mr-4 border-2 border-gray-200" %>
    <div> 
    <cite class="inline-flex items-center mt-2 not-italic mb-2">
      <span class="hidden w-6 h-px bg-gray-400 sm:inline-block"></span>
      <p class="text-sm text-gray-500 uppercase sm:ml-3">
        <strong>
          <%= simple_format('投稿者名です。') %>
        </strong>
      </p>
    </cite>
    <div class="text-base font-semibold text-blue-500 overflow-wrap break-words max-w-[80ch]">
      <%= simple_format('投稿の題名です。') %>
    </div>
    <div class="text-base break-words max-w-[80ch] mb-2">
      <%= simple_format('投稿の本文です。') %>
    </div>

    <div class="flex justify-between items-center mb-2">
      <div class="text-xs">
        <%# if bookmark.chapter.blank? %>
          <%= simple_format('チャプター/第hogehoge章') %>
        <%# else %>
          <%#= simple_format('チャプター/第 #{なんとか}章') %>
        <%# end %>
      </div>
      <%# if !bookmark.link.blank? %>
      <%# end %>
    </div>
    <div class="text-xs hover:text-gray-700">
      おすすめ書籍・参考書籍など: <%= simple_format('おすすめの書籍を書けます。') %>
    </div>
    <div class="p-3">
      <%#= simple_format('しおりのタグです。') %>
    </div>
    <div class="flex justify-center items-center gap-4">

    </div>
  </div>
</section>
