<%#= render 'shared/error_messages', object: f.object %>

<section class="bg-white">
    <main
      aria-label="Main"
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:py-12 lg:px-16 xl:col-span-6"
    >
      <div>
      <%= form_with model: bookmark, url: [book, bookmark], local: true do |f| %>
        <form class="grid grid-cols-6 gap-6 mt-8">
          
          <div class="col-span-6 sm:col-span-3">
            <%= f.label :headline, class:"block text-sm font-medium text-gray-700" %>
            <%= f.text_field :headline, placeholder: "105文字まで書けます。例: DevOps、JavaScript、Ruby何もわからない…", id: 'js-new-bookmark-body', class: "w-full mt-1 text-gray-700 bg-white border-gray-200 rounded-md shadow-sm", size: "100" %>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= f.label :body, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :body, placeholder: "3000文字まで書けます。例: 難しい、ややこしい...", id: 'js-new-bookmark-body', class: "w-full mt-1 text-gray-700 bg-white border-gray-200 rounded-md shadow-sm" %>
          </div>

          <div class="col-span-6">
            <%= f.label :page, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :page, placeholder: "ページ数を入力してください。例: 12、45...", id: 'js-new-bookmark-body', class: "w-full mt-1 text-gray-700 bg-white border-gray-200 rounded-md shadow-sm" %>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= f.label :chapter, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :chapter, placeholder: "第○章、チャプター○など、チャプター数を入力してください。例: 1、2、...", id: 'js-new-bookmark-body', class: "w-full mt-1 text-gray-700 bg-white border-gray-200 rounded-md shadow-sm" %>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= f.label :link, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :link, placeholder: "例: 参考になるブログや他の書籍があれば書いてみてください。", id: 'js-new-bookmark-body', class: "w-full mt-1 text-gray-700 bg-white border-gray-200 rounded-md shadow-sm" %>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= f.label :tag_names, class: "block text-sm font-medium text-gray-700" %>
            <%= f.text_field :tag_names, class: "w-full mt-1 text-gray-700 bg-white border-gray-200 rounded-md shadow-sm", placeholder: '複数の場合は,で区切って入力してください' %>
          </div>

<!--
          <div class="col-span-6">
            <label for="MarketingAccept" class="flex gap-4">
              <input
                type="checkbox"
                id="MarketingAccept"
                name="marketing_accept"
                class="w-5 h-5 bg-white border-gray-200 rounded-md shadow-sm"
              />

              <span class="text-sm text-gray-700">
                I want to receive emails about events, product updates and
                company announcements.
              </span>
            </label>
          </div>
-->        
          <!-- タグ機能 -->
          <!--
          <div class="form-group">
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <div class="form-check">
                <%= tag.label class: "form-check-label" do %>
                  <%= tag.check_box class: "form-check-input" %>
                  <%= tag.text %>
                <% end %>
              </div>
            <% end %>
          </div>
          -->

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button
              class="inline-block px-12 py-3 text-sm font-medium text-white transition bg-blue-600 border border-blue-600 rounded-md shrink-0 hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
            >
              <%= f.submit "しおりを挟む" %>
            </button>
          </div>

        </form>
      <% end %>
      </div>
    </div>
    </main>
  </div>
</section>
