<%= form_with model: bookmark, url: [book, bookmark], local: true do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <section class="bg-slate-100">
    <div class="max-w-screen px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <form class="grid grid-cols-6 gap-6 mt-8">
            
        <div class="col-span-6 sm:col-span-3">
          <%= f.label :headline, class:"py-2 block font-medium text-gray-700 flex justify-center items-center" %>
          <%= f.text_field :headline, placeholder: "300文字まで書けます。例: DevOps、JavaScript、Ruby何もわからない…", id: 'js-new-bookmark-body', class: "w-full rounded-lg border-gray-200 p-3 text-sm", size: "100" %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%= f.label :body, class: "py-2 block font-medium text-gray-700 flex justify-center items-center" %>
          <%= f.text_area :body, placeholder: "3000文字まで書けます。例: 難しい、ややこしい...", id: 'js-new-bookmark-body', class: "w-full p-3 text-sm border-gray-200 rounded-lg", rows: "8" %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%#= f.label :review_star, class: "py-2 block font-medium text-gray-700 flex justify-center items-center" %>
          <%#= f.select :review_star, {'未読': 0, '理解度☆':1, '理解度☆☆':2, '理解度☆☆☆':3, '理解度☆☆☆☆':4, '理解度☆☆☆☆☆':5}, { include_blank: '☆: 完全に理解した ... ☆☆☆☆☆: ちょっとわかる'}, { class: "w-full rounded-lg border-gray-200 p-3 text-sm" , required: true } %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%#= f.label :review_star, class: "block font-medium text-gray-700 flex justify-center items-center" %>
          <%#= f.select :review_star, {'未読': 0, '理解度☆':1, '理解度☆☆':2, '理解度☆☆☆':3, '理解度☆☆☆☆':4, '理解度☆☆☆☆☆':5}, { include_blank: '☆: 完全に理解した ... ☆☆☆☆☆: ちょっとわかる'}, { class: "w-full rounded-lg border-gray-200 p-3 text-sm" , required: true } %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%= f.label :link, class: "py-2 block font-medium text-gray-700 flex justify-center items-center" %>
          <%= f.text_field :link, placeholder: "例: 参考になるブログや他の書籍があれば書いてみてください。", id: 'js-new-bookmark-body', class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <%= f.label :tag_names, class: "py-2 block font-medium text-gray-700 flex justify-center items-center" %>
          <%= f.text_field :tag_names, class: "w-full rounded-lg border-gray-200 p-3 text-sm", placeholder: '複数の場合は,で区切って入力してください' %>
        </div>

        <div class="flex justify-center pan-6 sm:flex sm:items-center sm:gap-4 p-4">
          <button
            class="inline-block px-12 py-2 font-medium text-white transition bg-blue-600 border border-blue-600 rounded-md shrink-0 hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
          >
            <%= f.submit "しおりを挟む" %>
          </button>
        </div>

      </form>
    </div>
  </section>
<% end %>