<div>
  <div data-controller="modal" data-modal-allow-background-close="false" class="card__image" data-title="投稿ボタン" data-intro="「投稿する」リンクで投稿フォームが開きます！">
    <div class="flex justify-center items-center sm:items-start">
      <span data-action="click->modal#open"
        data-modal-target="modalWindow"
        class="w-8 h-8 bg-auto-book bg-center bg-no-repeat bg-contain cursor-pointer sm:mr-0 card__image"
        style="background-image: url('<%= asset_path('auto_book.png') %>');"
        title="投稿する"
      ></span>
    </div>
    <span data-action="click->modal#open"
      data-modal-target="modalWindow"
      class="text-sm flex justify-center items-center cursor-pointer text-blue-600 hover:text-gray-800 mt-1"
    >
      投稿する
    </span>

    <!-- Modal Container -->
    <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
      <!-- Modal Inner Container -->
      <div class="max-h-screen w-full max-w-xs sm:max-w-lg relative top-0 mx-auto">
        <!-- Modal Card -->
        <div class="m-5 bg-white rounded shadow">
          <div class="p-2">
            <%= form_with model: bookmark, url: [book, bookmark], data: { action: "turbo:submit-end->modal#close" }, local: true do |f| %>

              <section class="bg-slate-100">
                <div class="max-w-screen px-4 py-1 mx-auto sm:px-6 lg:px-1">
                  <form class="grid grid-cols-1 gap-2">
                    <div class="col-span-1 sm:col-span-1 mb-1">
                      <%= f.label :headline, class:"font-medium text-gray-700 flex justify-center items-center" %>
                      <%= f.text_field :headline, placeholder: "300文字まで書けます。例: DevOps、JavaScript、Ruby何もわからない…", id: 'js-new-bookmark-body', class: "w-full rounded-lg border-gray-200 p-3 text-sm", size: "100" %>
                    </div>

                    <div class="col-span-6 sm:col-span-3 mb-1">
                      <%= f.label :body, class: "font-medium text-gray-700 flex justify-center items-center" %>
                      <%= f.text_area :body, placeholder: "3000文字まで書けます。例: 難しい、ややこしい...", id: 'js-new-bookmark-body', class: "w-full p-3 text-sm border-gray-200 rounded-lg", rows: "8" %>
                    </div>

                    <div class="col-span-6 sm:col-span-3 mb-1">
                      <%#= f.label :review_star, class: "block font-medium text-gray-700 flex justify-center items-center" %>
                      <%#= f.select :review_star, {'未読': 0, '理解度☆':1, '理解度☆☆':2, '理解度☆☆☆':3, '理解度☆☆☆☆':4, '理解度☆☆☆☆☆':5}, { include_blank: '☆: 完全に理解した ... ☆☆☆☆☆: ちょっとわかる'}, { class: "w-full rounded-lg border-gray-200 p-3 text-sm" , required: true } %>
                    </div>

                    <div class="col-span-6 sm:col-span-3 mb-1">
                      <%= f.label :chapter, class: "font-medium text-gray-700 flex justify-center items-center" %>
                      <%= f.select :chapter, {'本全体': nil, '1':1, '2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9, '10':10, '11':11, '12':12, '13':13, '14':14, '15':15, '16':16, '17':17, '18':18, '19':19, '20':20, '21':21, '22':22, '23':23, '24':24, '25':25, '26':26, '27':27, '28':28, '29':29, '30':30}, { include_blank: 'チャプター数/第○章かを選択してください'}, { class: "w-full rounded-lg border-gray-200 p-3 text-sm" , required: true } %>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                      <%#= f.label :code_block, class: "py-2 block font-medium text-gray-700 flex justify-center items-center" %>
                      <%#= f.text_area :code_block, placeholder: "コードを400文字まで入力できます。コードブロックで囲んでいただければMarkdown対応で表示されます。", id: 'js-new-bookmark-body', class: "w-full p-3 text-sm border-gray-200 rounded-lg", rows: "8" %>
                    </div>

                    <div class="col-span-6 sm:col-span-3 mb-1">
                      <%= f.label :link, class: "font-medium text-gray-700 flex justify-center items-center" %>
                      <%= f.text_field :link, placeholder: "例: 参考になるブログや他の書籍", id: 'js-new-bookmark-body', class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                      <%#= f.label :tag_names, class: "py-2 block font-medium text-gray-700 flex justify-center items-center" %>
                      <%#= f.text_field :tag_names, class: "w-full rounded-lg border-gray-200 p-3 text-sm", placeholder: '複数の場合は,で区切って入力してください' %>
                    </div>

                    <div class="flex justify-center pan-6 sm:flex sm:items-center sm:gap-4 p-4">
                      <button
                        class="inline-block px-12 py-2 font-medium text-white transition bg-blue-600 border border-blue-600 rounded-md shrink-0 hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                      >
                        <%= f.submit "投稿する" %>
                      </button>
                    </div>

                  </form>
                </div>
              </section>
            <% end %>
          </div>
            <div class="flex justify-end items-center flex-wrap p-1">
              <button class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded" data-action="click->modal#close">閉じる</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>