<div class="">
  <h1>本棚編集</h1>
  <div class="">
    <%= link_to "一覧", bookshelves_path, class: "btn" %>
  </div>
</div>

<%= form_with model: @bookshelf, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form' %>
  </div>
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>