<div class="bookshelf">
  <h1>掲示板一覧</h1>
</div>
<div class="content">
<%= form_with url: bookshelves_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id,
    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
    {
      prompt: 'タグで絞り込み',
      class: 'form-control boards__select',
      onchange: 'submit(this.form);'
    }
  %>
<% end %>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>本棚名</th>
      <th>タグ</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <% bookshelf.tags.each do |tag| %>
            <span class="tag is-info"><%= tag.name %></span>
          <% end %>
        </td>
        <td><%= bookshelf.created_at.to_s(:datetime_jp) %></td>
        <td><%= bookshelf.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', bookshelf, class: "button is-info" %></td>
        <td><%= link_to '削除', bookshelf, method: :delete, remote: :true, class: "button is-danger", data: { turbo_method: :delete, turbo_confirm: "「#{bookshelf.title}」を削除しますか?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="new-button">
  <%= link_to "新規作成", new_bookshelf_path, class: "button is-primary is-right" %>
</div>
<div class="pagination is-justify-content-center">
  <%= paginate @bookshelves %>
</div>
