<% content_for(:title, 'プロフィール編集') %>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="bg-slate-100 text-gray-600 body-font lg:min-h-screen">
    <h1 class="flex jusitfy-center items-center sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">ユーザー登録情報</h1>
    <div class="p-4">
      <div class="gap-y-2 mt-1 mb-2 card">
        <%= f.label :name, class: "col-span-6 sm:col-span-3 mb-1" %>
        <%= f.text_field :name, class: "w-full mt-1 text-border p-3 text-gray-700 bg-white border-gray-200 rounded-md shadow-sm"  %>
        <%= f.label :email, class: "col-span-6 sm:col-span-3 mt-1 mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "hogehoge@example.com", class: "w-full mt-1 text-border p-3 text-gray-700 bg-white border-gray-200 rounded-md shadow-sm" %>
      </div>
    </div>
    <div><%= f.submit "保存", class: "button is-info" %></div>
  </div>
<% end %>

