<header>
  <nav>
    <div>
      <ul>
        <li><a><%= link_to 'ログイン', new_user_session_path %></a></li>
        <li><a><%= link_to 'ゲストログイン', users_guest_sign_in_path, data: { turbo_method: :post } %></a></li>
        <li><a><%= link_to '新規登録', new_user_registration_path %></a></li>
        <li><a><%= link_to '書籍検索', '/books/search', class: 'nav-link' %></a></li>
        <li><a><%= link_to '読みたい本の一覧', '/books/', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'マイしおり', '/bookshelves/', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'しおり検索', '/bookshelves/', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'プロフィール', '#', class: 'nav-link' %></a></li>
      </ul>
    </div>
  </nav>
</header>