<header>
  <nav>
    <div>
      <ul>
        <li><a><%= link_to 'ログイン', login_path %></a></li>
        <li><a><%= link_to '書籍検索', '/books/search', class: 'dropdown-item' %></a></li>
        <li><a><%= link_to '本棚作成', '#', class: 'dropdown-item' %></a></li>
        <li><a><%= link_to '本棚一覧', '#', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'プロフィール', '#', class: 'dropdown-item' %></a></li>
      </ul>
        </li>
			</ul>
    </div>
  </nav>
</header>