<header aria-label="Page Header" class="bg-green-100">
  <div class="max-w-screen-xl px-2 py-2 mx-auto sm:py-2 sm:px-2 lg:px-2">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <div class="flex-1 md:flex md:items-center md:gap-12">
          <a class="block text-teal-600" href="/">
            <%= image_tag asset_path("bookstair_logo.png"), class: "h-12", viewBox: "0 0 28 24", fill: "none" %></a>
          </a>
        </div>
      </div>

      <div class="flex justify-end gap-4 mt-4 sm:mt-0 sm:items-center text-xs">

          <div class="flex justify-center items-center">
            <%= link_to root_path, class: "flex flex-col items-center text-xs" do %>
              <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
              <span>共有本棚</span>
            <% end %>
          </div>


          <div class="flex justify-center items-center">
            <%= link_to search_books_path, class: "flex flex-col items-center text-xs" do %>
              <svg class="w-8 h-8 flex" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607zM10.5 7.5v6m3-3h-6"></path>
              </svg>
              <span>本を登録</span>
            <% end %>
          </div>
          
          <% if user_signed_in? %> 
            <div class="flex flex-col items-center">
              <%= link_to bookmarks_path, class: "flex flex-col items-center text-xs" do %>
                <svg class="w-8 h-8" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"></path>
                </svg>
                <span>投稿一覧</span>
              <% end %>
            </div>
          <% end %>

        <%= link_to bookmarks_my_bookmarks_path do %>
          <div class="flex flex-col items-center">
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <% if user_signed_in? %>
              <%= current_user.name %>
            <% else %>
              <span>こんにちは</span>
            <% end %>
          </div>
        <% end %>
          <!--
          <div class="flex flex-col items-center">
            <%= link_to feeds_path, class: "flex flex-col items-center text-xs" do %>
              <svg class="w-8 h-8" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
              </svg>
              <span>本日のトレンド</span>
            <% end %>
          </div> 
          -->

          <% if user_signed_in? %>
            <div class="flex flex-col items-center">
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "flex flex-col items-center text-xs" do %>
                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5V13a1 1 0 0 0 1 1V1.5a.5.5 0 0 1 .5-.5H14a1 1 0 0 0-1-1H1.5z"></path>
                  <path d="M3.5 2A1.5 1.5 0 0 0 2 3.5v11A1.5 1.5 0 0 0 3.5 16h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 16 9.586V3.5A1.5 1.5 0 0 0 14.5 2h-11zM3 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V9h-4.5A1.5 1.5 0 0 0 9 10.5V15H3.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V10.5a.5.5 0 0 1 .5-.5h4.293L10 14.793z"></path>
                </svg>
                <span>ログアウト</span>
              <% end %>
            </div>


          <% else %>
            <div class="flex flex-col items-center">
              <%= link_to new_user_registration_path, class: "flex flex-col items-center text-xs" do %>
                <svg class="w-8 h-8" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m8.25 3v6.75m0 0l-3-3m3 3l3-3M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"></path>
                </svg>
                <span>新規登録</span>
              <% end %>
            </div>

            <div class="flex flex-col items-center">
              <%= link_to new_user_session_path, class: "flex flex-col items-center text-xs" do %>
                <svg class="w-8 h-8" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <span>ログイン</span>
              <% end %>
            </div>

            <div class="flex flex-col items-center">
              <%= link_to users_guest_sign_in_path, data: { turbo_method: :post }, class: "flex flex-col items-center text-xs" do %>
                <svg class="w-8 h-8" data-darkreader-inline-stroke="" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z"></path>
                </svg>
                <span>ゲストログイン</span>
              <% end %>
            </div>

          <% end %>

            <!-- RSSリーダーの保存 -->
            <%# if user_signed_in? && @show_feeds %>
              <%#= render partial: 'books/rss', locales: { populat_items: @popular_items } %>
            <%# end %>
        </ul>

      </div>
    </div>
  </div>
</header>