<header aria-label="Page Header" class="bg-gray-100">
  <div class="max-w-screen px-4 py-4 mx-auto sm:py-8 sm:px-6 lg:px-8">
    <div class="flex flex-col justify-center items-center sm:flex-row sm:justify-between">
      <div class="text-center sm:text-left">
        <div class="flex-1 md:flex md:items-center md:gap-12">
          <a class="block text-teal-600" href="/">
            <%= image_tag asset_path("bookstair_logo.png"), class: "h-12", viewBox: "0 0 28 24", fill: "none" %>
          </a>
        </div>
      </div>

      <div class="flex items-center">
        <form class="flex-grow max-w-lg mx-auto mt-2 mb-0 space-y-4 rounded-lg sm:flex-1" action="/books/search" method="get" data-controller="autocomplete">
          <%= form_with url: nil, method: :get, data: { controller: "autocomplete" } do |f| %>
            <div class="flex items-center row-reverse">
              <div class="flex-1">
                <label for="Bookname" class="block px-3 py-2 overflow-hidden rounded-md shadow-sm focus-within:border-blue-600 dark:">
                  <%= f.search_field :title_search, value: params[:title_search], placeholder: "検索: 書籍名", class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm w-full", type: "text", data: { target: "autocomplete.input" } %>
                </label>
              </div>
              <div class="flex-1">
                <label for="Bookauthor" class="block px-3 py-2 overflow-hidden rounded-md shadow-sm focus-within:border-blue-600">
                  <%= f.search_field :author_search, value: params[:author_search], placeholder: "検索: 著者名", class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm w-full", type: "text", data: { target: "autocomplete.input" } %>
                </label>
              </div>
              <div class="flex-none p-2 items-center">
                <%= f.button class: "bg-slate bg-no-repeat bg-center w-8 h-8 border border-slate-300 rounded-full", type: "submit" do %>
                  <%= image_tag("search_button.png", alt: "検索") %>
                <% end %>
              </div>
            </div>
            <ul data-autocomplete-target="results"></ul>
          <% end %>
        </form>

        <div class="p-2 flex items-center flex-wrap">
          <%= link_to "/books/" do %>
            <%= image_tag asset_path("auto_book.png"), class: "h-6", viewBox: "0 0 28 24", fill: "none" %>
          <% end %>
        </div>
        <div class="flex items-center flex-wrap p-3">
          <span class="mr-2 text-gray-600 font-medium">ログイン中:</span>
          <div class="flex items-center gap-2">
            <p class="text-gray-600 font-medium"><%= current_user.name %></p>
          </div>
        </div>

        <div>
          <span class="header-title"><%= link_to 'ログアウト', destroy_user_session_path, class: 'block px-5 py-3 text-sm font-medium text-white transition bg-green-600 rounded-lg hover:bg-green-700 focus:outline-none focus:ring', data: { turbo_method: :delete } %></span> 
        </div>
      </div>
    </div>
  </div>
</header>
