<header>
  <nav>
    <div>
      <ul>
        <li><a><%= link_to 'Topページ', '/', class: 'nav-link' %></a></li>
        <li><a><%= link_to '書籍検索', '/books/search', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'マイ本棚', '/books/', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'マイしおり', '/bookmarks/', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'しおり検索', '/bookmarks/', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'プロフィール', '/', class: 'nav-link' %></a></li>
        <li><a><%= link_to 'ログアウト', destroy_user_session_path, class: 'nav-link', data: { turbo_method: :delete } %></a></li>
      </ul>
    </div>
  </nav>
</header>