<section class="text-gray-600 body-font bg-[url('shelf.jpg')]">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 sm:flex-row bg-[url('wood.png')] p-10">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:h-32 sm:mr-10">
        <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
          <%= image_tag asset_path("pen_and_paper.png") %>
        </div>
      </div>
      <div class="flex-grow mt-6 text-center sm:text-left sm:mt-0">
        <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">しおりを書いて、挟んでみる。</h2>
        <p class="text-base leading-relaxed">BOOKSTAIRは技術書に関する投稿ができます。お気に入りの解説のページ、難しい章、合わせて読むと嬉しい技術書。まだ本を買ってない人から、内容を十分に理解した人まで、誰でも利用できるサービスです。</p>
      </div>
    </div>
    <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 sm:flex-row bg-[url('wood.png')] p-10">
      <div class="flex-grow mt-6 text-center sm:text-left sm:mt-0">
        <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">ページごとのしおりを見ることができます。</h2>
        <p class="text-base leading-relaxed">第○章が難しかった！ここがわからない！そんな疑問があれば投稿してみましょう。内容の理解が十分なつよつよエンジニアさんには、解説や、参考書籍を書いていただけると、とても助かります。</p>
      </div>
      <div class="inline-flex items-center justify-center flex-shrink-0 order-first w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:order-none sm:h-32 sm:ml-10">
        <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
          <%= image_tag asset_path("question.png") %>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center mx-auto lg:w-3/5 sm:flex-row bg-[url('wood.png')] p-10">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:h-32 sm:mr-10">
        <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
          <%= image_tag asset_path("book_on_the_man.png") %>
        </div>
      </div>
      <div class="flex-grow mt-6 text-center sm:text-left sm:mt-0">
        <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">ステップアップの手助けになれば。</h2>
        <p class="text-base leading-relaxed">難しすぎればちょっと簡単な技術書へ、十分に内容を理解できれば次のステップへ。気になった技術書から、ステップアップを手助けするサービスにしたいと思っています。</p>
      </div>
    </div>


    <div class="grid grid-cols-1 gap-4 mt-12 md:grid-cols-3 md:gap-8">
      <blockquote class="p-8 bg-[url('wood.png')] rounded-lg">
        <div class="flex items-center gap-4">
          <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:h-32 sm:mr-10">
            <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
              <%= image_tag asset_path("search.png") %>
            </div>
          </div>

          <div>
            <p class="mt-1 text-lg font-medium text-gray-700">気になるワードを検索</p>
          </div>
        </div>

        <p class="mt-4 text-black-500 line-clamp-2 sm:line-clamp-none">
          まずは技術書の題名や著者、気になる言語や技術を調べてみましょう。<br><button class="btn btn-primary">「本棚に登録する」</button>を押せば、サービス共有の本棚に書籍が登録されます。
        </p>
      </blockquote>

      <blockquote class="p-8 bg-[url('wood.png')] rounded-lg">
        <div class="flex items-center gap-4">
          <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:h-32 sm:mr-10">
            <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
              <%= image_tag asset_path("check.png") %>
            </div>
          </div>

          <div>
            <p class="mt-1 text-lg font-medium text-gray-700">本棚で気になる書籍があれば見てみましょう</p>
          </div>
        </div>

        <p class="mt-4 text-black-500 line-clamp-2 sm:line-clamp-none">
          本棚で気になる書籍を見つけたら、しおりをチェックしてみましょう。
        </p>
      </blockquote>

      <blockquote class="p-8 bg-[url('wood.png')] rounded-lg">
        <div class="flex items-center gap-4">
          <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:h-32 sm:mr-10">
            <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
              <%= image_tag asset_path("buy_rakuten.png") %>
            </div>
          </div>

          <div>
            <p class="mt-1 text-lg font-medium text-gray-700">楽天経由で技術書を買えます</p>
          </div>
        </div>

        <p class="mt-4 text-black-500 line-clamp-2 sm:line-clamp-none">
          書籍詳細に楽天リンクを貼ってあるので、楽天経由で技術書を購入することもできます。
        </p>
      </blockquote>
    </div>

    <div class="flex flex-wrap justify-center gap-4 mt-8">
      <a>
        <%= link_to 'ゲストログインしてみる', users_guest_sign_in_path, data: { turbo_method: :post }, class: "block w-full px-12 py-3 text-sm font-medium text-white bg-blue-600 rounded shadow hover:bg-blue-700 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto" %>
      </a>
    </div>
    
    
  </div>
</section>
