

<section class="text-gray-600 body-font bg-[url('shelf.jpg')]">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 sm:flex-row bg-[url('wood.png')] p-10">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:h-32 sm:mr-10">
        <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
          <%= image_tag "pen_and_paper.png" %>
        </div>
      </div>
      <div class="flex-grow mt-6 text-center sm:text-left sm:mt-0">
        <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">しおりを書いて、挟んでみる</h2>
        <p class="text-base leading-relaxed">コメントやレビューサイトのように</p>
      </div>
    </div>
    <div class="flex flex-col items-center pb-10 mx-auto mb-10 border-b border-gray-200 lg:w-3/5 sm:flex-row bg-[url('wood.png')] p-10">
      <div class="flex-grow mt-6 text-center sm:text-left sm:mt-0">
        <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">The Catalyzer</h2>
        <p class="text-base leading-relaxed">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
      </div>
      <div class="inline-flex items-center justify-center flex-shrink-0 order-first w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:order-none sm:h-32 sm:ml-10">
        <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
          <%= image_tag "question.png" %>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center mx-auto lg:w-3/5 sm:flex-row bg-[url('wood.png')] p-10">
      <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-indigo-500 bg-indigo-100 rounded-full sm:w-32 sm:h-32 sm:mr-10">
        <div fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 sm:w-16 sm:h-16" viewBox="0 0 24 24" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
          <%= image_tag "book_on_the_man.png" %>
        </div>
      </div>
      <div class="flex-grow mt-6 text-center sm:text-left sm:mt-0">
        <h2 class="mb-2 text-lg font-medium text-gray-900 title-font">The 400 Blows</h2>
        <p class="text-base leading-relaxed">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
      </div>
    </div>
    <div class="flex flex-wrap justify-center gap-4 mt-8">
      <a>
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, data: { turbo_method: :post }, class: "block w-full px-12 py-3 text-sm font-medium text-white bg-red-600 rounded shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto" %>
      </a>

      <a>
        <%= link_to '新規登録', new_user_registration_path, class: "block w-full px-12 py-3 text-sm font-medium text-white bg-red-600 rounded shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto" %>
      </a>
      <a><%= link_to 'ログイン', new_user_session_path, class: "block w-full px-12 py-3 text-sm font-medium text-white bg-red-600 rounded shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto" %></a>
    </div>
  </div>
</section>