<% if @books.present? %>
  <% @books&.each do |book| %>
    <div class="book-line">
    <!-- book.item_urlを書籍情報ページに飛ばして、book.item_urlを書籍情報のリンク貼り付けに利用する -->
      <p class="book-image">
        <img><%= link_to (image_tag(book.large_image_url, style: "width: 200px; height: 250px;display: inline-block;")), book.item_url %>
      </p>
      <p class="book-data">
        <%= (book.title).gsub(/(\s|　)+/, ' ').gsub("／", "/").tr('０-９ａ-ｚＡ-Ｚ','0-9a-zA-Z') %>
        <%# book.author.gsub(/(\s|　)+/, ' ').gsub("／", "/").tr('０-９ａ-ｚＡ-Ｚ','0-9a-zA-Z').split("/").each do |i| %>
          <%#= i %>
        <%# end %>
        <%#= (book.item_caption).gsub(/(\s|　)+/, ' ').gsub("／", "/").tr('０-９ａ-ｚＡ-Ｚ','0-9a-zA-Z') %>
        <i class="btn btn-xs btn-active btn-primary">読みたいに追加</i>
      </p>
      <p>
      <%= form_with model: @book, local: true, id: "new_book" do |f| %>
        <%= f.hidden_field :title %>
        <%= f.hidden_field :salesDate %>
        <%= f.hidden_field :largeImageUrl %>
        <%= f.hidden_field :itemUrl %>
        <% button_tag type: "f.submit" do %>
          <i class="btn btn-xs btn-active btn-primary">読みたいに追加</i>
        <% end %>
      <% end %>
      </p>
    </div>
  <% end %>
<% end %>