<% if @books.present? %>
  <% @books&.each do |book| %>
    <div class="book-line is-family-sans-serif">
    <!-- book.item_urlを書籍情報ページに飛ばして、book.item_urlを書籍情報のリンク貼り付けに利用する -->
      <p class="book-image">
        <img><%= link_to (image_tag(book.large_image_url, style: "width: 200px; height: 250px;display: inline-block;")), book.item_url %>
      </p>
      <p class="book-data">
      <!-- 正規表現の加工はHelperに処理を渡す -->
<<<<<<< Updated upstream
        <%= set_rakuten_book_params(book.title) %>
        <%= set_rakuten_book_author_params(book.author) %>
=======
        <%= set_rakuten_book_params(book.title) %><br><br>
        <% set_rakuten_book_author_params(book.author).each do |i| %>
          <%= i %><br>
        <% end %>
>>>>>>> Stashed changes
      </p>
      <p class="book-check">
        <%= form_with url: books_path, local: true do |f| %>
          <%= f.hidden_field :title, value: set_rakuten_book_params(book.title) %>
          <%= f.hidden_field :author, value: set_rakuten_book_author_params(book.author) %>
          <%= f.hidden_field :sales_date, value: set_rakuten_book_params(book.sales_date) %>
          <%= f.hidden_field :large_image_url, value: set_rakuten_book_params(book.large_image_url) %>
          <%= f.hidden_field :item_url, value: set_rakuten_book_params(book.item_url) %>
          <%= f.hidden_field :isbn, value: set_rakuten_book_params(book.isbn) %>
          <%= button_tag type: "f.submit" do %>
<<<<<<< Updated upstream
            <i class="btn btn-xs btn-primary">本棚に追加</i>
=======
            <button class="button is-success">本棚に追加</button>
>>>>>>> Stashed changes
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>