<section data-controller="ajax" class="w-full h-full">
  <div id="search-result" class="mt-8 grid grid-cols-1 gap-8">
    <% if @books.present? %>
      <% @books&.each do |book| %>
        <div class="flex flex-wrap items-start gap-2 p-3 justify-center item-center">
          <div class="bg-slate-100 rounded p-1">
            <%= image_tag(book.large_image_url, style: "width: 150px; height: 187px; display: inline-block;") %>
          </div>
          <div class="w-1/2">
            <div class="bg-slate-50 rounded p-3 grid grid-cols-1 gap-2">
              <p class="text-md font-semibold text-blue-500 hover:underline">
                <%= set_rakuten_book_params(book.title) %>
              </p>

              <p class="text-sm">著者: <%= set_rakuten_book_params(book.author) %></p>

              <p class="text-lg font-bold"><%= number_to_currency(book.item_price, format: "%u%n", unit: "￥") %></p>

              <div class="text-sm">
                <div class="prose max-w-none">
                  <p class="mb-2">
                    <%= simple_format(set_rakuten_book_params(book.item_caption)) %>
                  </p>
                </div>
              </div>

              <div class="mt-2">
                <div class="flex flex-row justify-center items-center">
                  <div class="flex flex-1">
                    <p class="text-xs text-gray-700 underline mr-2">
                      <%= form_with model: @book, url: books_path, local: true do |f| %>
                        <%= f.hidden_field :title, value: set_rakuten_book_params(book.title) %>
                        <%= f.hidden_field :author, value: set_rakuten_book_author_params(book.author) %>
                        <%= f.hidden_field :sales_date, value: set_rakuten_book_params(book.sales_date) %>
                        <%= f.hidden_field :large_image_url, value: set_rakuten_book_params(book.large_image_url) %>
                        <%= f.hidden_field :item_url, value: set_rakuten_book_params(book.item_url) %>
                        <%= f.hidden_field :isbn, value: set_rakuten_book_params(book.isbn) %>
                        <%= f.hidden_field :item_caption, value: set_rakuten_book_params(book.item_caption) %>
                        <%= f.hidden_field :item_price, value: book.item_price %>
                        <button><%= f.submit "本棚に登録する", class: "rounded border border-blue-600 bg-blue-600 px-3 py-3 font-medium text-white hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 m-3 mt-auto" %></button>
                      <% end %>
                    </p>
                    <p class="rounded border border-orange-600 bg-orange-600 px-3 py-3 font-medium text-white hover:bg-transparent hover:text-orange-600 focus:outline-none focus:ring active:text-orange-500 m-3 mt-auto"><%= link_to "楽天で購入", book.item_url %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      <% end %>
    <% end %>
  </div>
</section>
