<section data-controller="ajax">
  <div id="search-result" class="mt-8">
    <% if @books.present? %>
      <ul class="grid gap-4 mt-8 sm:grid-cols-2 lg:grid-cols-4">
        <% @books&.each do |book| %>
          <li>
            <a href="#" class="block overflow-hidden group">
              <%= link_to (image_tag(book.large_image_url, style: "width: 200px; height: 250px; display: inline-block;")), book.item_url, class:"p-3 object-cover flex justify-center items-center" %>

              <div class="relative pt-3 bg-white rounded p-3">
                <h3
                  class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4 flex justify-center items-center"
                >
                  <%= set_rakuten_book_params(book.title) %>
                </h3>
                
                <h3
                  class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4 flex justify-center items-center"
                >
                  <%= set_rakuten_book_params(book.author) %>
                </h3>

                <h3 class="mt-2 flex justify-center items-center">

                  <p class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                    <%= form_with model: @book, url: books_path, local: true do |f| %>
                      <%= f.hidden_field :title, value: set_rakuten_book_params(book.title) %>
                      <%= f.hidden_field :author, value: set_rakuten_book_author_params(book.author) %>
                      <%= f.hidden_field :sales_date, value: set_rakuten_book_params(book.sales_date) %>
                      <%= f.hidden_field :large_image_url, value: set_rakuten_book_params(book.large_image_url) %>
                      <%= f.hidden_field :item_url, value: set_rakuten_book_params(book.item_url) %>
                      <%= f.hidden_field :isbn, value: set_rakuten_book_params(book.isbn) %>
                      <%= f.hidden_field :item_caption, value: set_rakuten_book_params(book.item_caption) %>
                      <%= f.hidden_field :item_price, value: book.item_price %>
                      <button><%= f.submit "本棚に登録する", class: "inline-block rounded border border-blue-600 bg-blue-600 px-12 py-3 font-medium text-white hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 m-3" %></button>
                    <% end %>
                  </p>
                </h3>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</section>