<% content_for(:title, '本棚') %>

<section class="min-h-screen bg-[url('shelf.png')]">
  <div class="p-3">
    <%= render partial: 'rss', locales: { populat_items: @popular_items } %>
  </div>

  <div class="max-w-lg mx-auto my-3 card p-3 rounded bg-[url('wood.png')]">
    <%= search_form_for @search, html: {class: "max-w-md mx-auto mt-8 mb-0 space-y-4 rounded"} do |f| %>
      <div class="flex flex-wrap mx-2 mb-2">
        <div class="w-full md:w-1/2 px-2">
          <div class="relative">
            <%= f.search_field :title_cont, placeholder: "本棚内: 書籍名", class: "block w-full p-2 py-2 pl-2 pr-2 text-sm leading-tight bg-white border border-gray-200 rounded-md appearance-none focus:outline-none focus:shadow-outline-blue focus:border-blue-600", type: "text" %>
            <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      <div class="w-full md:w-1/2 px-2">
        <%= f.search_field :author_cont, placeholder: "本棚内: 著者名", class: "block w-full p-2 py-2 pl-2 pr-2 text-sm leading-tight bg-white border border-gray-200 rounded-md appearance-none focus:outline-none focus:shadow-outline-blue focus:border-blue-600", type: "text" %>
        <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
          <i class="fas fa-search"></i>
        </div>
      </div>
        </label>
      </div>

      <div class="flex items-center justify-between">
        <button class="px-2 py-1 text-sm font-medium text-white bg-red-600 rounded shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"><%= link_to "クリア", books_path %></button>
        <button class="px-2 py-1 text-sm font-medium text-white bg-blue-400 rounded shadow focus:outline-none focus:ring">
          <%= f.submit "", class: "hidden" %>
          <%= image_tag "search_button.png", onclick: "$(this).closest('form').submit();", class: "bg-no-repeat bg-center w-5 h-5 rounded-full" %>
        </button>
      </div>
      
    <% end %>
    <div class="flex items-center justify-center">
      <button class="p-2 m-2 text-sm font-sm text-white bg-sky-600 rounded shadow hover:bg-sky-700 focus:outline-none focus:ring active:bg-sky-500 sm:w-auto"><%= sort_link(@search, :title) %></button>
      <button class="p-2 m-2 text-sm font-sm text-white bg-sky-600 rounded shadow hover:bg-sky-700 focus:outline-none focus:ring active:bg-sky-500 sm:w-auto"><%= sort_link(@search, :created_at) %></button>
    </div>
  </div>



  <ul class="grid gap-4 mt-8 sm:grid-cols-2 lg:grid-cols-4">
    <% if @books.present? %>
      <% @books&.each do |book| %>
        <li>
          <p class="block overflow-hidden group">
            <p class="p-2 object-cover flex justify-center items-center bg-[url('wood.png')]">
              <%= link_to (image_tag(book.large_image_url)), book, method: :get, params: {isbn: book.isbn}, remote: :true, class: "block group-hover:underline group-hover:underline-offset-4 flex justify-center items-center" %>
            </p>

            <div class="relative pt-2 bg-white rounded p-2">
              <h3
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4 flex justify-center items-center"
              >
                <%= set_rakuten_book_params(book.title) %>
              </h3>
              
              <h3
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4 flex justify-center items-center"
              >
                <%= set_rakuten_book_params(book.author) %>
              </h3>

              <h3 class="mt-2 flex flex-col justify-center items-center">
                <p class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                  <!-- 何かのボタン -->
                </p>
              </h3>
            </div>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>



<!--
      <div class="max-w-lg mx-auto text-center card p-3 rounded bg-[url('wood.png')]">
        <h1 class="text-2xl font-bold sm:text-3xl">本棚内の検索</h1>
        <form class="max-w-md mx-auto mt-8 mb-0 space-y-4 rounded">
          <%= search_form_for @search do |f| %>
            <div>
              <label
                for="Bookname"
                class="block px-3 py-2 overflow-hidden border border-gray-200 rounded-md shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
              >
                <span class="font-medium text-gray-700"><%= f.label :title_cont, "書籍名" %></span>
                  <%= f.search_field :title_cont, placeholder: "例: Ruby, JavaScript, React...", class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm", type: "text" %>
              </label>
            </div>

            <div>
              <label
                for="Bookauthor"
                class="block px-3 py-2 overflow-hidden border border-gray-200 rounded-md shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
              >
                <span class="font-medium text-gray-700"><%= f.label :author_cont, "著者" %></span>
                <%= f.search_field :author_cont, placeholder: "例: 伊藤, 山田, まつもとゆきひろ...", class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm", type: "text" %>
              </label>
            </div>

            <div class="flex items-center justify-between">
              <button class="inline-block w-full px-12 py-3 text-sm font-medium text-white bg-red-600 rounded shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"><%= link_to "検索条件をクリア", books_path %></button>
              <button class="inline-block w-full px-12 py-3 text-sm font-medium text-white bg-blue-600 rounded shadow hover:bg-blue-700 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"><%= f.submit %></button>
            </div>
            
            <div class="flex flex-row-reverse items-center justify-between">
            </div>
          <% end %>
          <div class="flex items-center justify-center">
            <button class="w-full p-3 m-3 text-sm font-medium text-white bg-sky-600 rounded shadow hover:bg-sky-700 focus:outline-none focus:ring active:bg-sky-500 sm:w-auto"><%= sort_link(@search, :title) %></button>
            <button class="w-full p-3 m-3 text-sm font-medium text-white bg-sky-600 rounded shadow hover:bg-sky-700 focus:outline-none focus:ring active:bg-sky-500 sm:w-auto"><%= sort_link(@search, :created_at) %></button>
          </div>
        </form>
      </div>
-->