<% content_for(:title, '本棚') %>

<section class="max-w-screen px-4 py-16 mx-auto sm:px-6 lg:px-8 bg-[url('shelf.jpg')]" style="height: 100vh; background-size: cover; background-position: center;">
  <div class="p-3">
    <%= render partial: 'rss', locales: { populat_items: @popular_items } %>
  </div>
  <div class="max-w-screen-xl px-4 py-8 mx-auto card sm:px-6 sm:py-12 lg:px-8">
    <div class="lg:col-span-3 card-body">
<!--
      <div class="max-w-lg mx-auto text-center card p-3 rounded bg-[url('wood.png')]">
        <h1 class="text-2xl font-bold sm:text-3xl">本棚内の検索</h1>

        <p class="mt-4 text-black-500">
          気になる技術書を検索してみよう
        </p>

        <form class="max-w-md mx-auto mt-8 mb-0 space-y-4 rounded">
          <%= search_form_for @search do |f| %>
            <div>
              <label
                for="Bookname"
                class="block px-3 py-2 overflow-hidden border border-gray-200 rounded-md shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
              >
                <span class="font-medium text-gray-700"><%= f.label :title_cont, "書籍名" %></span>
                  <%= f.search_field :title_cont, placeholder: "例: Ruby, JavaScript, React...", class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm", type: "text" %>
              </label>
            </div>

            <div>
              <label
                for="Bookauthor"
                class="block px-3 py-2 overflow-hidden border border-gray-200 rounded-md shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
              >
                <span class="font-medium text-gray-700"><%= f.label :author_cont, "著者" %></span>
                <%= f.search_field :author_cont, placeholder: "例: 伊藤, 山田, まつもとゆきひろ...", class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm", type: "text" %>
              </label>
            </div>

            <div class="flex items-center justify-between">
              <button class="inline-block w-full px-12 py-3 text-sm font-medium text-white bg-red-600 rounded shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"><%= link_to "検索条件をクリア", books_path %></button>
              <button class="inline-block w-full px-12 py-3 text-sm font-medium text-white bg-blue-600 rounded shadow hover:bg-blue-700 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"><%= f.submit %></button>
            </div>
            
            <div class="flex flex-row-reverse items-center justify-between">
            </div>
          <% end %>
          <div class="flex items-center justify-center">
            <button class="w-full p-3 m-3 text-sm font-medium text-white bg-sky-600 rounded shadow hover:bg-sky-700 focus:outline-none focus:ring active:bg-sky-500 sm:w-auto"><%= sort_link(@search, :title) %></button>
            <button class="w-full p-3 m-3 text-sm font-medium text-white bg-sky-600 rounded shadow hover:bg-sky-700 focus:outline-none focus:ring active:bg-sky-500 sm:w-auto"><%= sort_link(@search, :created_at) %></button>
          </div>
        </form>
      </div>
-->
    <div class="p-10">
      <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <% if @books.present? %>
          <% @books&.each do |book| %>
            <li>
              <a href="#" class="block overflow-hidden group rounded">
                <div class="bg-[url('wood.png')] p-5">
                  <p class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                    <%= link_to (image_tag(book.large_image_url)), book, method: :get, params: {isbn: book.isbn}, remote: :true, class: "flex justify-center items-center" %>
                  </p>
                </div>

                <div class="relative pt-3 bg-white rounded p-3">
                  <h3
                    class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4 flex justify-center items-center"
                  >
                    <%= set_rakuten_book_params(book.title) %>
                  </h3>
                  
                  <h3
                    class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4 flex justify-center items-center"
                  >
                    <%= set_rakuten_book_params(book.author) %>
                  </h3>

                </div>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</section>
