<div><%= render "flash" %></div>
<div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
  <div class="max-w-lg mx-auto text-center card">
    <h1 class="text-2xl font-bold sm:text-3xl">技術書の検索</h1>

    <p class="mt-4 text-gray-500">
      気になる技術書を検索してみよう
    </p>
  </div>

  <form class="max-w-md mx-auto mt-8 mb-0 space-y-4">
    <%= form_with url: search_books_path, local: true, method: :get do |f| %> 
      <div>
        <label
          for="Bookname"
          class="block px-3 py-2 overflow-hidden border border-gray-200 rounded-md shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700">書籍名</span>
            <%= f.search_field :title_search, value: params[:title_search], placeholder: "例: Ruby, JavaScript, React...", class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm", type: "text" %>
        </label>
      </div>

      <div>
        <label
          for="Bookauthor"
          class="block px-3 py-2 overflow-hidden border border-gray-200 rounded-md shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
        >
          <span class="text-xs font-medium text-gray-700">著者名</span>
          <%= f.search_field :author_search, value: params[:author_search], placeholder: "例: 伊藤, 山田, まつもとゆきひろ...", class: "w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm", type: "text" %>
        </label>
      </div>
      
      <div class="flex items-center justify-between">
        <button title="検索" type="submit" class="inline-block px-5 py-3 text-sm font-medium text-white bg-blue-500 rounded-lg">検索</button>
      </div>
  
    <% end %>
  </form>
    
</div>

<div id='book_list' class='book_list'>
  <%= render partial: 'book_list' %>
</div>
