<div class="search">
  <div id="search-box" class="search-box">
    <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <%= form_with url: search_books_path, local: true, method: :get do |f| %>
            <p class="control is-expanded">
              <%= f.search_field :title_search, value: params[:title_search], placeholder: "書籍名", class: "input", type: "text" %>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded">
              <%= f.search_field :author_search, value: params[:author_search], placeholder: "著者名", class: "input", type: "text" %>
            </p>
          </div>
          <button title="検索" type="submit" class="button is-link">検索</button>
        <% end %>
      </div>
    </div>
  </div>
  <div><%= render "flash" %></div>
  <div id='book_list' class='book_list'>
    <%= render partial: 'book_list' %>
  </div>
</div>