<!DOCTYPE html>
<html data-theme="corporate" lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <%# if content_for?(:twitter_card) %>
      <%#= yield(:twitter_card) %>
    <%# else %>
      <%#= twitter_card %>
    <%# end %> 
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J4F0HY30Q0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J4F0HY30Q0');
    </script> 
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="IT・コンピュータの書籍好きのあなたに">
    <meta name="twitter:description" content="BOOKSTAIRはIT・コンピュータ書籍専門の投稿サービスです。">
    <meta name="twitter:image" content="<%= image_url('og_image.png') %>">

    <%#= display_meta_tags(default_meta_tags) %>
  </head>

  <body data-turbolinks="false" class="max-h-screen">
    <div>
      <%# if user_signed_in? %>
        <%= render 'shared/header' %>
      <%# else %>
        <%#= render 'shared/before_login_header' %>
      <%# end %>
      <%= render "flash" %>
      <main class="w-full">
        <%= yield %>
        <%= javascript_tag 'application' %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
