<!DOCTYPE html>
<html data-theme="corporate" lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body data-turbolinks="false" class="max-h-screen">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div class="container mx-auto">
      <%= render "flash" %>
    </div>
    <div class="flex">
      <nav class="flex-shrink-0 w-1/5 bg-gray-800">
        <!-- ナビゲーションバーのコンテンツをここに配置 -->
        <%= render partial: 'shared/sidebar' %>
      </nav>
      <main class="content">
        <!-- メインのコンテンツをここに配置 -->
        <%= yield %>
        <%= javascript_tag 'application' %>
      </main>
    </div>
  </body>
</html>
