<!DOCTYPE html>
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<html data-theme="emerald">
=======
<html lang="ja">
>>>>>>> Stashed changes
=======
<html lang="ja">
>>>>>>> Stashed changes
  <head>
    <meta charset="UTF-8">
    <title>Bookstair</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<<<<<<< Updated upstream
<<<<<<< Updated upstream

    <%= stylesheet_link_tag "application.tailwind.css" %>
    <%= favicon_link_tag 'book.ico' %>
    <!--
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    -->
=======
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag 'book.ico' %>
>>>>>>> Stashed changes
=======
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag 'book.ico' %>
>>>>>>> Stashed changes
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-turbolinks="false">
    <div>
      <% if user_signed_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <div>
        <%= render "flash" %>
      </div>
      <main>
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
