<!DOCTYPE html>
<html data-theme="corporate" lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
  </head>

  <body data-turbolinks="false" class="max-h-screen">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div class="w-full">
      <%= render "flash" %>
    </div>
    <div class="flex">
      <main class="content w-full">
        <!-- メインのコンテンツをここに配置 -->
        <%= yield %>
        <%= javascript_tag 'application' %>
        <%= render partial: 'shared/sidebar_opener' %>
      </main>
    </div>
  </body>
</html>
